.searchProject__wrapper{
    margin-top: 55px
}



.searchProject__wrapper p {
  
        font-family: Gibson;
        font-size: 15px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.45;
        letter-spacing: normal;
        text-align: left;
        color: #78849e; 
        margin-bottom: 0px
    
}


.searchProject__wrapper h6 {
  
    font-family: Gibson;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.30;
    letter-spacing: normal;
    text-align: left;
    color: #78849e; 

}
.projectcards{
border-radius: 16px;
    padding: 20px;
  border: 1px solid rgba(151, 150, 150, 0.801); 
  margin: 40px;
}


.projectcards:hover{
    background-color: #344466;
    padding: 20px;
    border: 1px solid rgb(151, 150, 150);
    color:white;
    
}

.projectcards:hover p,
.projectcards:hover h6{
    color:white;   

}

.projectsearch__underline{
    border: 1.2px solid #987c46;
    width: 10px;
    margin-top:0px
    /* width: 10px; */
}

.projectsearch__footer{
    margin-top: 10%;
    margin-left: 25px;
    margin-right: 25px;
}