@media screen and (min-width: 767px) and (max-width: 992px) {
  /* .row-responsive {
    width: 50% !important;
  }
  .man-row-responsive {
    width: 25% !important;
  }
  .schedule-days-responsive {
    width: 27% !important;
  }
  .schedule-start-responsive {
    width: 22% !important;
  }
  .schedule-end-responsive {
    width: 22% !important;
  }
  .col-responsive {
    left: 14% !important;
  }
  .man-col-responsive {
    left: 10% !important;
  } */
  /* .e-head-task-responsive {
    width: 36.5% !important;
  }
  .e-head-schedule-responsive {
    width: 22% !important;
  }
  .e-col-responsive {
    max-width: 58% !important;
  }
  .e-row-responsive {
    width: 42% !important;
  }
  .e-schedule-box-responsive {
    left: 50% !important;
    width: 58% !important;
  }
  .e-schedule-box-1-responsive {
    width: 32% !important;
  }
  .e-man-estimate-responsive {
    width: 150% !important;
  }
  .e-srhead-responsive {
    width: 11.4% !important;
  }
  .e-process-responsive {
    width: 88.5% !important;
  }
  .e-title-label-responsive {
    width: 11.4% !important;
  }
  .e-srhead-responsive .sr {
    border-right: 1px solid white;
  } */
}
