.reset-password-wrapper {
  margin-top: 8%;
  margin-bottom: 12%;
}
.reset-password-wrapper img {
  margin-bottom: 30px;
  height: 32px;
}

.reset-password-wrapper h1 {
  font-family: Gibson;
  font-size: 34px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.08;
  letter-spacing: 1.1px;
  text-align: left;
  color: #25265e;
}
.reset-password-wrapper input,
.reset-password-wrapper input[type="text"],
.reset-password-wrapper input[type="email"],
.reset-password-wrapper input[type="password"],
.reset-password-wrapper input[type="file"],
textarea {
  font-size: 16px;
  font-family: Gibson;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.4;
  letter-spacing: normal;
  text-align: left;
  color: #454f63;
  letter-spacing: 0.8px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.048);
  height: 35px;
  border: none !important;
  appearance: none;
  outline: none !important;
  /* -webkit-appearance: none !important; */
}
.resetpassword_btn {
  /* background-color:#344466 ;
    color:white;
    width: 25%;
    height: 50px;
    border-radius: 12px;
    margin-left: 20%;
font-family: Gibson;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: 0.4px;
  text-align: center; */
  /* color: #ffffff; */
}
.resetpassword_btn:hover {
  /* background-color: #987c46 */
}

.reset-password-wrapper h4 {
  font-family: Gibson;
  font-size: 22px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: 1.3px;
  text-align: left;
  color: #787993;
}

.reset-password-wrapper h2 {
  font-family: Gibson;
  font-size: 22px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: 1.3px;
  text-align: left;
  color: #787993;
  margin-left: 20%;
}

.reset-password-wrapper div {
  margin-top: 15px;
  margin-bottom: 15px;
}
